<div class="whole-page" >
    <div class="menu" id="firstLayer">
      <img
        class="background"
        src="../../projects/minesweeper/assets/menu_assets/background_menu.svg"
      />
      <div>
        <img
          class="red-rec"
          src="../../projects/minesweeper/assets/menu_assets/red_rec_menu.svg"
        />
        <div>
          <img 
           class="computer"
           src="../../projects/minesweeper/assets/menu_assets/comp_menu.svg"/>
          <div class="text-container">
            <p class="first-row"> Fix all crashes on data  panels to prevent the</p>
            <p class="second-row "><b>Y2K crash</b></p>
        </div>
    
        </div>
      </div>
